DATABASE_URL="postgresql://my-app:my-app@localhost:5432/my-app?schema=public"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_BASIC_MONTHLY=""
STRIPE_PRICE_BASIC_ANNUAL=""
STRIPE_PRICE_PRO_MONTHLY=""
STRIPE_PRICE_PRO_ANNUAL=""
